@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Urbanist:ital,wght@0,100..900;1,100..900&family=Varela+Round&display=swap');

:root {
    --main-color: #00a6a2;
    --secondary-color: #2851a3;
}

/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: var(--main-color) white;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: var(--main-color);
}

*::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 20px;
    border: 3px solid var(--main-color);
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    /* Prevent horizontal scrolling */

}

html {
    background-color: #f6f6f6;
    font-family: "Urbanist", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

.pic {
    width: 100%;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    height: 100px;
    position: fixed;
    width: 99.5%;
    z-index: 1000000000;
}

.list {
    display: flex;
    justify-content: space-around;
    width: 35%;
}

.list a {
    position: relative;
    cursor: pointer;
}

.list a::before {
    content: "";
    position: absolute;
    bottom: -10px;
    right: 0;
    width: 0;
    height: 3px;
    transition: 0.4s;
}

.list a:hover::before {
    width: 100%;
    background-color: var(--main-color);
}

.left {
    display: flex;
    align-items: center;
}

.left p {
    margin-left: 20px;
    color: var(--main-color);
    font-weight: bold;
}


.back-to-top {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: var(--main-color);
    border: none;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 1000;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    color: white;
    /* Make sure it appears above other elements */
}

.back-to-top:hover {
    background-color: #e9ecef;
    color: var(--main-color);
}


@media (max-width:992px) {
    .list {
        display: none;
    }

    .left p {
        display: none;
    }
}