.ourwork {
    margin-top: 100px;
}

.title {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 20px;
    color: var(--main-color);
    text-align: center;
}

.cards {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    /* flex: 1; */
}